
# Model files
*.pt
*.pth
*.pkl
*.pickle
*.h5
*.hdf5
model.pt
**/model.pt

# Archives
*.tar.gz
*.zip
*.tar
*.gz

# Large data files
*.csv.gz
atomic_bond_regression.csv
OPERA_*.zip
data.tar.gz

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environment
.env
*.env

torchdrug_env/

venv310/

biofuel/
venv/
wandb/
# Python packaging
biofuel.egg-info/
*.egg-info/
dist/
build/
