# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/
biofuel/
torchdrug_env/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# VS Code settings
.vscode/

# Jupyter runtime checkpoints
.jupyter/
*.conda
*.dll
*.so
*.dylib
pip-selfcheck.json

wandb/
data/replacement_db

