# Core scientific stack
numpy
pandas
scipy
requests

# Machine learning
scikit-learn
xgboost
lightgbm

# Visualization
matplotlib
seaborn
plotly   # for interactive plots in GUI

# Optimization
deap     # evolutionary algorithms for Pareto optimization (optional)


# Model persistence
joblib

# Utilities
pyyaml
tqdm

# Excel handling
openpyxl

# Chemistry
rdkit
pubchempy

# GUI
flask
flask-sqlalchemy
flask-WTF