{% extends "base.html" %}
{% block content %}

<div class="container py-4">
  <h3 class="fw-bold mb-4">Fuel Property Constraints</h3>

  <div class="card card-metric p-4 mb-4">
    <h5 class="fw-bold mb-3">Design Constraints Applied in BioFuelOpt</h5>

    <ul>
      <li><strong>DCN Range:</strong> add description here</li>
      <li><strong>YSI Threshold:</strong> add description here</li>
      <li><strong>More properties:</strong> more description...</li>

    </ul>

    <p class="text-muted mt-3">
      Can include all relevent contraints used in the model here
    </p>
  </div>
</div>

{% endblock %}
